<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<!-- Primary Meta Tags -->
<title>@@title</title>
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<meta name="title" content="@@title">
<meta name="author" content="山西宏泽惠科技有限公司">
<meta name="description" content="山西宏泽惠科技有限公司 - 专注政企数字化建设、网络信息安全、软硬件销售与整体IT运维服务的综合性科技服务商">
<meta name="keywords" content="网络设备销售,安全设备销售,服务器销售,网络安全基线核查,系统集成,IT运维服务,软件开发,企业环保门禁系统">

<!-- Open Graph / Facebook -->
<meta property="og:type" content="website">
<meta property="og:title" content="@@title">
<meta property="og:description" content="专注政企数字化建设、网络信息安全、软硬件销售与整体IT运维服务的综合性科技服务商">

<!-- Favicon -->
<link rel="apple-touch-icon" sizes="120x120" href="@@path/assets/img/favicon/apple-touch-icon.png">
<link rel="icon" type="image/png" sizes="32x32" href="@@path/assets/img/favicon/favicon-32x32.png">
<link rel="icon" type="image/png" sizes="16x16" href="@@path/assets/img/favicon/favicon-16x16.png">
<link rel="manifest" href="@@path/assets/img/favicon/site.webmanifest">
<link rel="mask-icon" href="@@path/assets/img/favicon/safari-pinned-tab.svg" color="#ffffff">
<meta name="msapplication-TileColor" content="#ffffff">
<meta name="theme-color" content="#ffffff">

<!-- Fontawesome -->
<link type="text/css" href="@@path/vendor/@fortawesome/fontawesome-free/css/all.min.css" rel="stylesheet">

<!-- Pixel CSS -->
<link type="text/css" href="@@path/css/pixel.css" rel="stylesheet">
